 
 
<div class="main-wrap">
  <div class="post-wraper">
 <div class="user-profile">
	<div class="user-content">受賞歴</div>
  <%= @user.profile%>
</div>

  <div class="record-list-title">結果一覧</div>
  <table>
  <tr>
    <th>日付</th>
    <th>所属</th>
    <th>名前</th>
    <th>面談</th>
    <th>フルローク</th>
    <th>見込み</th>
    <th>見込みオーダー</th>
    <th>結果</th>
    <th>売上げ</th>
  </tr>
  <% @records.each do |record|%>
  <tr>
    <td><%= l record.created_at %></td>
    <td><%=record.user.last_name%></td>
    <td><%=record.user.department.name%></td>
    <td><%=record.mendan%></td>
    <td><%=record.fulltalk%></td>
    <td><%=record.mikomi%></td>
    <td><%=record.mikomiorder%></td>
    <td><%=record.order%></td>
    <td><%=record.payment%></td>
  </tr>
  <%end%>
</table>

  <div class="post-title">投稿一覧</div>
    <% @posts.each do |post|%>   
       <%= render partial: "posts/post", locals: { post: post } %>
    <% end %>
  </div>

</div>


