<div class="record-wrap">
  <div class="record-ranks">
    <div class="record-rank">
      <div class="rank-title">個人ランキング</div>
      <ol class="cp_clist">
    <% @orders.each_with_index do |order, i| %>
      <li><%= order.first %>さん</li>
      
      <% end %>
      </ol>
    </div>
    <div class="record-rank">
    <div class="rank-title">支店ランキング</div>
      <ol class="cp_clist">
      <% @siten.each_with_index do |siten, i| %>
      <% department = @department.find(siten.first) %>
      <li><%= department.name%></li>
     
      <% end %>
      </ol>
    </div>
  </div>
</div>
<div class="record-list-wrap">
  <div class="record-list-title">個人結果一覧</div>
 
  <table>
  <tr>
    <th>日付</th>
    <th>所属</th>
    <th>名前</th>
    <th>面談</th>
    <th>フルローク</th>
    <th>結果</th>
    <th>売上げ</th>
  </tr>
  <% @records.each do |record|%>
  <tr>
    <td><%= l record.created_at %></td>
    <td><%=record.user.department.name%></td>
    <td><%=link_to record.user.last_name, user_path(record.user.id)%></td>
    <td><%=record.mendan%></td>
    <td><%=record.fulltalk%></td>
    <td><%=record.order%></td>
    <td><%=record.payment%></td>
  </tr>
  <%end%>
</table>
</div>

