<%= form_with model: @post,  class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      投稿内容の編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
   <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">投稿ジャンル</label>
      
    </div>
    <%= @post.genre.name %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">タイトル</label>
    </div>
    <%= @post.title %>
  </div>
   <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">投稿内容</label>
    </div>
    <%= f.text_area :content, class:"input-default" %>
  </div>
  <div class='edit-btn'>
    <%= f.submit "編集する" ,class:"edit-red-btn" %>
  </div>
  <div class='edit-btn'>
    <%= link_to "戻る" ,post_path(@post.id), class:"return-red-btn" %>
  </div>
  </div>
</div>
<% end %>


