<div class="cp_form">
<%= form_with model: @post, local: true do |f| %>
<h1>投稿編集フォーム</h1>
 <%= render 'shared/error_messages', model: f.object %>

<div class="cp_group">
 <%= @post.genre.name %> （ジャンル）
</div>

<div class="cp_group">
  <%= f.text_area :title %>
  <label class="cp_label" for="input">投稿内容</label>
  <i class="bar"></i>
</div>
<div class="submit-btn">
<%= f.submit "編集する" ,class:"submit" %>
</div>
 
</div>
<% end %>
</div>




