


<div class="main-wrap">
  <div class="post-wraper">
  
    <div class="post-title">投稿詳細</div>
    <%  if user_signed_in? && current_user.id == @post.user_id %>
    <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id),method: :get, class: :prototype__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :prototype__btn %>
    </div>
     <% end %>
    <div class="post-wrap" >
      <div class="post-header">
        <div class="post-header-title">  <%= link_to @post.user.last_name + "さん", user_path(@post.user.id), class: "cp_textlink04"%> </div>
        <div class="post-user-name"> </div>
      </div>
      <div class="post-titles">
        タイトル：<%= @post.title%>
      </div>
      <div class="post-content">
       内容： <%= @post.content%>
      </div>
    </div>
  </div>

</div>