


<div class="main-wrap">
  <div class="post-wraper">
  
    <div class="post-title">投稿詳細</div>
    <%  if user_signed_in? && current_user.id == @post.user_id %>
    <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id),method: :get, class: :prototype__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :prototype__btn %>
    </div>
     <% end %>
    <div class="post-wrap" >
      <div class="post-header">
        <div class="post-header-title">  <%= link_to @post.user.last_name + "さん", user_path(@post.user.id), class: "cp_textlink04"%> </div>
        <div class="post-user-name"> </div>
      </div>
      <div class="post-titles">
        タイトル：<%= @post.title%>
      </div>
      <div class="post-content">
       内容： <%= @post.content%>
      </div>
    </div>

    <div class="post-comments">       
      <%  if user_signed_in? %>
      <%= form_with model: [@post,@comment], local: true do |f| %>
        <div class="comments-field">
          <%= f.label :comment, "コメント"%><br />
          <%= f.text_area :comment, id:"comment_content", class:"comment-field" %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class:"comment-btn" %>
        </div>
      <% end %>   
      <% end %>
     <ul class="comments_lists">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.comment %> 
          <div class="comment-name-flex">
          <%= link_to comment.user.last_name + "さん",  user_path(comment.user.id), class:"comment-name" %> 
          <%if  user_signed_in? && current_user.id == comment.user_id%>
          <%= link_to "削除",  post_comment_path(@post, comment), method: :delete, class:"comment-delete" %> 
          <%end %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>

 

</div>