<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eigyoukyoukasyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="app">

<!--▽▽ヘッダー▽▽-->
    <header>
       

<!--▽▽ヘッダーロゴ▽▽-->
        <div class="logo">
         <%= link_to"営業の教科書", root_path, class: "my-parts"%>
        </div>
  <!--△△ヘッダーロゴ△△-->

  <!--▽▽ヘッダーリスト▽▽-->
        <nav>
          <ul class= nav-list>
          <% if user_signed_in? %>
            <li > <%= link_to "ログアウト",destroy_user_session_path, method: :delete%></li>
            <li> <%= link_to "投稿する", new_post_path%></li>
            <li> <%= link_to "質問する", new_question_path%></li>
            <li> <%= link_to "結果報告", new_record_path%></li>
          <% else %>  
            <li> <%= link_to "ログイン", new_user_session_path%></li>
            <li> <%= link_to "新規登録", new_user_registration_path%></li>
          <% end %>
          </ul>
        </nav>          
  <!--△△ヘッダーリスト△△-->
      </header>
    
      <div class="main">
        <div class="sidebar">
          <!--▽▽サイドバーリスト▽▽-->
          <% if user_signed_in? %>
          <div class="current_user">
          こんにちは <%= link_to current_user.last_name + "さん", user_path(current_user.id), class: "current_user_name"%>
          </div>
          <% end %>
          <%= link_to  "お気に入り", user_path(current_user.id), class:"fev-list"%>
          <div class="cp_menu">
            <label for="cp_menu_bar1">投稿を見る</label>
            <input type="radio" name="radio" id="cp_menu_bar1" class="accordion" />
            <ul id="link1">
              <li><%= link_to '投稿一覧', posts_path %></li>
              <li><%= link_to 'フロント', "/posts/genre/2" %></li>
              <li><%= link_to 'クロージング', "/posts/genre/3" %></li>
              <li><%= link_to 'その他', "/posts/genre/4" %></li> 
            </ul>
          </div>
          <div class="cp_menu">
            <label for="cp_menu_bar2">質問を見る</label>
            <input type="radio" name="radio" id="cp_menu_bar2" class="accordion" />
            <ul id="link2">
              <li><%= link_to '質問一覧', questions_path %></li>
              <li><%= link_to 'フロント', "/questions/genre/2" %></li>
              <li><%= link_to 'クロージング', "/questions/genre/3" %></li>
              <li><%= link_to 'その他', "/questions/genre/4" %></li> 
            </ul>
          </div>
          <div class="cp_menu">
            <label for="cp_menu_bar3">結果を見る</label>
            <input type="radio" name="radio" id="cp_menu_bar3" class="accordion" />
            <ul id="link3">
              <li><%= link_to "結果一覧", records_path%></li>
              <li><a href=""></a>支店結果</li>         
            </ul>
          </div>
           <!--△△サイドバーリスト△△-->
        </div>
        <div class="content">
          <div class="flex-content">
             <%= yield %>
          </div>
        </div>
      </div>
    </div>    
  </body>
</html>


